<div class="col-md-6">
    <form [formGroup]="signupForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input formControlName="username" type="text" name="username" id="username" class="form-control">
            <div *ngIf="username && username.touched && username.invalid" class="alert alert-danger">
                <div *ngIf="username.errors?.['required']">User Name Required.</div>
                <div *ngIf="username.errors?.['minlength']">User Name must be at least {{username.errors?.['minlength'].requiredLength}}.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input formControlName="password" type="password" name="password" id="password" class="form-control">
            <div *ngIf="password && password.touched && !password.valid" class="alert alert-danger">Password Required.</div>
        </div>
        <button (click)="onSignupFormSubmit()" class="btn btn-primary" type="submit">Sign Up</button>
    </form>
</div>

